body{
  font-family: Helvetica;
  background-color:#efefef;
  padding:0px;
  margin: 0px;
}


#container {
  margin: 0px auto;
  max-width:800px;
  background-color:#ffffff;
min-height: 100%;
}
#content {
padding:5px 20px;
}



form li {
  list-style-type: none;
}
form li label{
  padding-right:40px;
}


.errorlist {
  list-style-type: none;
  padding:0px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.menu li {
  float: right;
}

ul.menu li.selected{
  background-color: #111111;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
    padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #121212;
}

a.button {
  background-color: #333333;
  border: none;
  color: white;
  padding:10px;
  text-decoration: none;
}


a.button:hover {
  background-color: #111111;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    color: #777;
    line-height: 1.6;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .01em;
}
table a {
    color: #777;
  text-decoration: none;
}
tr{
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    }

td{

    color: #777;
    line-height: 1.6;
    vertical-align: middle;
    border-left: 1px solid #cbcbcb;
    margin: 0;
    overflow: visible;
    padding: .5em .5em;
    background-color:white;
    border-right-width: 0;
    border-top-width: 0;
    box-shadow: 0px -1px 0px 0px #f5f5f5;
    font-size: inherit;
}

td.icon{
    font-size: 20px;
}


table .header td{
    background-color:#e0e0e0;
    color:black;
    font-weight:bold;}

