/*************************
 * GRID SCHEDULE LAYOUT
 *************************/
@media screen and (min-width:700px) {
	.schedule {
		display: grid;
		grid-template-rows:
			[months] auto
			[day-number] auto
			[days] auto
            [time-0000] auto
            [time-0015] auto
            [time-0030] auto
            [time-0045] auto
            [time-0100] auto
            [time-0115] auto
            [time-0130] auto
            [time-0145] auto
            [time-0200] auto
            [time-0215] auto
            [time-0230] auto
            [time-0245] auto
            [time-0300] auto
            [time-0315] auto
            [time-0330] auto
            [time-0345] auto
            [time-0400] auto
            [time-0415] auto
            [time-0430] auto
            [time-0445] auto
            [time-0500] auto
            [time-0515] auto
            [time-0530] auto
            [time-0545] auto
            [time-0600] auto
            [time-0615] auto
            [time-0630] auto
            [time-0645] auto
            [time-0700] auto
            [time-0715] auto
            [time-0730] auto
            [time-0745] auto
            [time-0800] auto
            [time-0815] auto
            [time-0830] auto
            [time-0845] auto
            [time-0900] auto
            [time-0915] auto
            [time-0930] auto
            [time-0945] auto
            [time-1000] auto
            [time-1015] auto
            [time-1030] auto
            [time-1045] auto
            [time-1100] auto
            [time-1115] auto
            [time-1130] auto
            [time-1145] auto
            [time-1200] auto
            [time-1215] auto
            [time-1230] auto
            [time-1245] auto
            [time-1300] auto
            [time-1315] auto
            [time-1330] auto
            [time-1345] auto
            [time-1400] auto
            [time-1415] auto
            [time-1430] auto
            [time-1445] auto
            [time-1500] auto
            [time-1515] auto
            [time-1530] auto
            [time-1545] auto
            [time-1600] auto
            [time-1615] auto
            [time-1630] auto
            [time-1645] auto
            [time-1700] auto
            [time-1715] auto
            [time-1730] auto
            [time-1745] auto
            [time-1800] auto
            [time-1815] auto
            [time-1830] auto
            [time-1845] auto
            [time-1900] auto
            [time-1915] auto
            [time-1930] auto
            [time-1945] auto
            [time-2000] auto
            [time-2015] auto
            [time-2030] auto
            [time-2045] auto
            [time-2100] auto
            [time-2115] auto
            [time-2130] auto
            [time-2145] auto
            [time-2200] auto
            [time-2215] auto
            [time-2230] auto
            [time-2245] auto
            [time-2300] auto
            [time-2315] auto
            [time-2330] auto
            [time-2345] auto
            [time-2400] auto;

		grid-template-columns:
			[times] 4em
			[day-1-start] auto
			[day-1-end day-2-start] auto
			[day-2-end day-3-start] auto
			[day-3-end day-4-start] auto
			[day-4-end day-5-start] auto
			[day-5-end day-6-start] auto
			[day-6-end day-7-start] auto
			[day-7-end];
	}
}

.time-slot {
	grid-column: times;
    height:20px;
    position:relative;
    top:-6px;
}

.day-slot {
	display: none; /* hidden on small screens and browsers without grid support */
}

@supports( display:grid ) {
	@media screen and (min-width:700px) {
		.day-slot {
			display: block;
			padding: 10px 5px 5px;
			position: sticky;
			top: 0;
			z-index: 1000;
			background-color: rgba(255,255,255,.9);


		}
	}
}

/* Small-screen & fallback styles */
.session {
	margin-bottom:  1em;
}

@supports( display:grid ) {
	@media screen and (min-width: 700px) {
		.time-off {
			margin: 0;
		}
		.session {
			margin: 0;
		}
	}
}

/*************************
 * VISUAL STYLES
 * Design-y stuff ot particularly important to the demo
 *************************/

.time-off {
	background-color:#ddd;
	border-radius: 5px;
	margin:2px;
      opacity: 0.5;
      filter: alpha(opacity=50);
}

.session {
	padding: .5em;
	border-radius: 5px;
	font-size: 14px;
	background-color:#B3E5FC;
	margin:2px;
}

.session-title,
.session-time,
.session-day,
.session-presenter {
	display: block;
}

.session-title,
.time-slot {
	margin: 0;
	font-size: 1em;
	color:#ddd;
}
.time-slot span {
	background-color:#fff
}
.time-slot.strong {
    top:-8px;
	font-size: 0.85em;
	color: black;

}

.session-title a {
	color: #000;
	text-decoration-style: dotted;

	&:hover {
		font-style: italic;
	}

	&:focus {
		outline: 2px dotted rgba(255,255,255,.8);
	}
}

.month-slot {
	text-align:center;
}

.day-number-slot,
.day-slot,
.time-slot {
	font-weight: bold;
	font-size:.75em;
	text-align:center;
}
.time-slot-big {
	font-weight: bold;
	font-size:.150em;
	text-align:center;
}

.day-all {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ccc;
	color: #000;
	box-shadow: none;
}

.meta {
	color: #555;
	font-style: italic;
}

.meta a {
	color: #555;
}

hr {
	margin: 40px 0;
}

.time-line{
	border-top: 1px dashed #eee;
}
.time-line-strong {
	border-top: 1px solid #ddd;
}

/*************************
 * HEADER
 *************************/
div.header {
  padding: 0px;
  background: #555555;
  text-align: center;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header ul li {
  padding: 20px 0px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header .prev {
  padding: 19px 25px 17px 25px;
  float: left;
}

.header .next {
  padding: 19px 25px 17px 25px;
  float: right;
}

.header a li:hover {
background:#333333;
}