{% extends "base_small.html" %}
{% load static %}

<title>{{site.site_name}}</title>

{% block content %}
    <h1>{{site.site_name}}</h1>
        {% for message in messages %}
            <p class="success">{{ message|safe }}</p>
        {% endfor %}
    <form action="{% url 'client_login' site.site_url %}" name="login-form" method="post">
        {{ form.as_p }}
        {% csrf_token %}
    <p><input class="button" type="submit" name="submit" value="Zaloguj"></p>
    </form>
    <p>
    <p class="right">Jeśli nie masz konta <br />lub nie pamiętasz PINu, <br /><a href="tel:{{site.phone_number}}">zadzwoń do {{site.site_name}}</a></p></p>

{% endblock %}