{% extends "client_base.html" %}
{% block content %}
<h1>Miło cię widzieć, {{ client_name }}</h1>
<br />
<h2>Umów się na wizytę</h2>
<p>
    <form name="choose-visit-form" action="{% url 'client_dashboard' url_key %}" method="post">
        {{ form.as_table }}
        {% csrf_token %}
        <input type="submit" name="submit" value="Umów się">
    </form>
</p>

{% if visits %}
<h2>Zbliżające się wizyty:</h2>
<table>
    <tr class="header">
        <th>Rodzaj usługi</th>
        <th>Termin</th>
        <th>Godzina</th>
        <th>czas trwania</th>
        <th>Status</th>
        <th></th>
    </tr>
    {% for visit in visits %}
    <tr>
        <td>{{ visit.name }}</td>
        <td>{{visit.get_start_date}}</td>
        <td>{{visit.get_start_time}}</td>
        <td>{{visit.get_duration}}</td>
        <td>{% if visit.is_available is True %}{% if visit.is_confirmed is True %}Aktualna{%else%}Niepotwierdzona{%endif%}{%else%}Odwołana{%endif%}</td>
        <td>
            {% if visit.is_available is True %}
                <a href="#" onclick="confirmation('{{ visit.name }}', '{% url 'client_cancel_visit' url_key visit.id %}')">Odwołaj</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}