{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.user.username }} - {% block title %}{% endblock %}</title>
    <link href="{% static 'panel.css' %}" rel="stylesheet">
    <link href="{% static 'schedule.css' %}" rel="stylesheet">
    <script>
        function on_hover(id, numbers) {
            for (i = id; i < id+numbers; i++) {
                document.getElementById(i).classList.add("hover");

                }
        }
        function out_hover(id, numbers) {
            for (i = id; i < id+numbers; i++) {
                    document.getElementById(i).classList.remove("hover");
                }
        }
    </script>
</head>
<body>
    <div id="container">
        <div id="header">
              <ul class="menu">
                    <li>
                        <a href="{% url 'logout_screen' %}">Wyloguj</a>
                    </li>
                    <li {% if section == 'dashboard_settings' %}class="selected"{% endif %}>
                        <a href="{% url 'dashboard_settings' %}">Ustawienia</a>
                    </li>
                    <li {% if section == 'dashboard_clients' %}class="selected"{% endif %}>
                        <a href="{% url 'dashboard_clients' %}">Klienci</a>
                    </li>
                    <li {% if section == 'dashboard_schedule' %}class="selected"{% endif %}>
                        <a href="{% url 'dashboard_schedule' %}">Terminarz</a>
                    </li>
                    <li {% if section == 'dashboard' %}class="selected"{% endif %}>
                        <a href="{% url 'dashboard' %}">Pulpit</a>
                    </li>
              </ul>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>