{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.user.username }} - {% block title %}{% endblock %}</title>
    <link href="{% static 'panel.css' %}" rel="stylesheet">
    <link href="{% static 'schedule.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/74fa286ffd.js" crossorigin="anonymous"></script>
    <script>
        function on_hover(id, numbers) {
            for (i = id; i < id+numbers; i++) {
                document.getElementById(i).classList.add("hover");

                }
        }
        function out_hover(id, numbers) {
            for (i = id; i < id+numbers; i++) {
                    document.getElementById(i).classList.remove("hover");
                }
        }
        $(".success").delay(4000).hide();

        function confirmation(type, name, url) {
          var text = "Czy na pewno chcesz usunąć ";
          if (type == 'service') {text += "usługę: " };
          if (type == 'service') {text += "klienta: " };
          text += name;
          var r = confirm(text);
          if (r == true) {
                window.location.href = url;
          }
        }
    </script>
</head>
<body>
    <div id="container">
        <div id="header">
              <ul class="menu">
                    <li>
                        <a href="{% url 'logout' %}"><i class="fas fa-power-off"></i></a>
                    </li>
                    <li>
                        <a {% if section == 'settings' %}class="selected"{% endif %} href="{% url 'settings' %}"><i class="fas fa-cogs"></i></a>
                    </li>
                    <li>
                        <a {% if section == 'clients' %}class="selected"{% endif %} href="{% url 'clients' %}"><i class="fas fa-users"></i></a>
                    </li>
                    <li>
                        <a {% if section == 'schedule' %}class="selected"{% endif %} href="{% url 'schedule' %}"><i class="far fa-calendar-alt"></i></a>
                    </li>
                    <li>
                        <a {% if section == 'dashboard' %}class="selected"{% endif %} href="{% url 'dashboard' %}"><i class="fas fa-pen-nib"></i></a>
                    </li>
              </ul>
            {% if section == 'settings' %}
              <ul class="menu submenu">
                    <li>
                        <a {% if subsection == 'contact' %}class="selected"{% endif %} href="{% url 'settings_contact' %}">Sugestie</a>
                    </li>
                    <li>
                        <a class="disabled"  {% if subsection == 'subscription' %}class="selected"{% endif %} href="{% url 'dashboard' %}">Subskrypcja</a>
                    </li>
                    <li>
                        <a {% if subsection == 'account' %}class="selected"{% endif %} href="{% url 'settings_account' %}">Konto</a>
                    </li>
                    <li>
                        <a {% if subsection == 'work_time' %}class="selected"{% endif %} href="{% url 'settings_work_time' %}">Czas pracy</a>
                    </li>
                    <li>
                        <a {% if subsection == 'services' %}class="selected"{% endif %} href="{% url 'settings_services' %}">Usługi</a>
                    </li>
              </ul>
            {% endif %}
            {% if section == 'clients' %}
              <ul class="menu submenu">
                    <li>
                        <a {% if subsection == 'edit' %}class="selected"{% else %} class="disabled" {% endif %} href="#">Edycja</a>
                    </li>
                    <li>
                        <a {% if subsection == 'data' %}class="selected"{% else %} class="disabled" {% endif %} href="#">Dane</a>
                    </li>
                    <li>
                        <a {% if subsection == 'add' %}class="selected"{% endif %} href="{% url 'clients_add' %}">Nowy</a>
                    </li>
                    <li>
                        <a {% if subsection == 'list' %}class="selected"{% endif %} href="{% url 'clients' %}">Klienci</a>
                    </li>
              </ul>
            {% endif %}
            {% if section == 'schedule' %}
              <ul class="menu submenu">
                    <li>
                        <a {% if subsection == 'visit' %}class="selected"{% else %} class="disabled" {% endif %} href="#">Wizyta</a>
                    </li>
                    <li>
                        <a {% if subsection == 'schedule' %}class="selected"{% endif %} href="{% url 'schedule' %}">Terminarz</a>
                    </li>
              </ul>
            {% endif %}
            {% if section == 'dashboard' %}
              <ul class="menu submenu">
                    <li>
                        <a class="disabled" {% if subsection == '' %}class="selected"{% endif %} href="{% url 'dashboard' %}">Zaklep wolne</a>
                    </li>
                    <li>
                        <a {% if subsection == 'new_visit' %}class="selected"{% endif %} href="{% url 'dashboard_new_visit_1' %}">Zapisz klienta</a>
                    </li>
                    <li>
                        <a {% if subsection == 'today' %}class="selected"{% endif %} href="{% url 'dashboard' %}">Dzisiaj</a>
                    </li>
              </ul>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>