{% extends "base.html" %}

{% block title %}Klienci{% endblock %}

{% block content %}

<div id="content">
    <h3>Lista klientów</h3>
    {% if clients %}
    <table>
        <tr class="header">
                <th></th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer telefonu</th>
                <th>Opis</th>
            </tr>
        {% for client in clients %}
            <tr class="client-row" onclick="location.href='{% url 'clients_data' client.id %}'">
                <td>{% if client.is_active is True %}<i class="far fa-check-circle"></i>{% else %}
                    <i class="fas fa-times-circle"></i>{% endif %}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.description }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h3>Nie masz żadnych klientów</h3>
    {% endif %}
</div>
{% endblock %}