{% extends "base.html" %}

{% block title %}Klienci | Nowy{% endblock %}

{% block content %}

<div id="content">
<h3>{{client.name}} {{client.surname}} </h3> <p>{% if client.is_active is True %}<i class="far fa-check-circle"></i> Aktywny{% else %}
    <i class="fas fa-times-circle"></i> Zablokowany{% endif %}</p>
    <p>{{client.description}}</p>
    <p><a href="tel:{{client.phone_number}}">{{client.phone_number}}</a></p>
    <p><a href="{% url 'clients_edit' client.id %}" class="button">Edytuj dane</a>
        <a class="button" href="#" onclick="confirmation('client', '{{ client.name }} {{client.surname}}', '{{ client.get_remove_url }}')">Usuń klienta</a></p>


</div>
{% endblock %}