{% extends "base.html" %}

{% block title %}Klienci | Nowy{% endblock %}

{% block content %}

<div id="content">
    {% for message in messages %}
        <div class="success">{{ message|safe }}</div>
    {% endfor %}
    {% if form.errors %}
        <div class="form-group has-error">
            <span class="help-block">{{ form.text.errors }}</span>
        </div>
    {% endif %}
    <div id="add-client">
        <form name="add-client-form" method="POST" action="{% url 'dashboard_clients_edit' client_id %}">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input class="button" type="submit" value="Zapisz" name="submit"></p>
        </form>
    </div>
</div>
{% endblock %}