{% extends "base.html" %}

{% block title %}Klienci{% endblock %}

{% block content %}

<div id="content">
    <p><a href="{% url 'dashboard_clients_add' %}" class="button">+</a></p>
    {% if clients %}
    <table>
        <tr class="header">
                <td></td>
                <td></td>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Numer telefonu</td>
                <td>Opis</td>
                <td>Status</td>
                <td>pin</td>
            </tr>
        {% for client in clients %}
            <tr>
                <td><a href="{{ client.get_remove_url }}">&#9986</a></td>
                <td>&#9998;</td>
                <td>{% if client.is_active is True %}&#9745;{% else %}&#9746;{% endif %}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.description }}</td>
                <td>{{ client.pin }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h3>"Nie masz jeszcze żadnych klientów"</h3>
    {% endif %}
</div>
{% endblock %}