{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div id="content">

    <h3>Nowa wizyta</h3>
    <table class="vertical">
        <tr>
            <th>Usługa</th>
            <td>{{data.service.name}}</td>
        </tr>
        <tr>
            <th>Data</th>
            <td>{{data.start_date}}</td>
        </tr>
        <tr>
            <th>Godzina</th>
            <td>{{data.start_time}}</td>
        </tr>
        <tr>
            <th>Długość wizyty</th>
            <td>{{data.duration}}</td>
        </tr>
        <tr>
            <th>Klient</th>
            <td>{{data.client.name}} {{data.client.surname}} </td>
        </tr>
        <tr>
            <th>Telefon</th>
            <td>{{data.client.phone_number}}</td>
        </tr>
    </table>
    {% if not saved %}
    <form name="add-visit-form" action="{% url 'dashboard_new_visit_3' url_data.client_id url_data.service_id url_data.hours url_data.minutes url_data.year url_data.month url_data.day url_data.hour url_data.minute %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input class="button" type="submit" name="submit" value="Potwierdź"> <a class="button full-width" href="{% url 'dashboard_new_visit_2' url_data.client_id url_data.service_id url_data.hours url_data.minutes %}">Zmień termin</a>
    </form>
    {%endif%}

</div>
{% endblock %}
