{% extends "base_small.html" %}
{% load static %}

{% block content %}
    <h1>Miło Cię widzieć!</h1>
        {% for message in messages %}
            <p class="success">{{ message|safe }}</p>
        {% endfor %}
    <form action="{% url 'login' %}" name="login-form" method="post">
        {{ form.as_p }}
        {% csrf_token %}
    <p><input class="button" type="submit" name="submit" value="Zaloguj"></p>
    </form>
    <p>
    <p class="right"><a href="{% url 'password_reset' %}">Nie pamiętasz hasła?</a><br /><a href="{% url 'registration' %}">Nie masz konta?</a></p></p>

{% endblock %}