{% extends "base.html" %}

{% block title %}Wizyta{% endblock %}

{% block content %}

<div id="content">

    <h1>{{visit.name}}</h1>
    <table class="vertical">
        <tr>
            <th>Klient</th>
            <td><a href="{% url 'clients_data' visit.client.id %}">{{visit.client.name}} {{visit.client.surname}}</a></td>
        </tr>
        <tr>
            <th>Telefon</th>
            <td><a href="tel:{{visit.client.phone_number}}"> {{visit.client.phone_number}}</a></td>
        </tr>
        <tr>
            <th>Data</th>
            <td>{{visit.get_start_date}}</td>
        </tr>
        <tr>
            <th>Godzina</th>
            <td>{{visit.get_start_time}}</td>
        </tr>
        <tr>
            <th>Długość wizyty</th>
            <td>{{visit.get_duration}}</td>
        </tr>
        <tr>
            <th>Opis</th>
            <td>{{visit.description}}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{% if visit.is_available is True %}{% if visit.is_confirmed is True %}Aktualna{%else%}Niepotwierdzona{%endif%}{%else%}Odwołana{%endif%}</td>
        </tr>
    </table>
    <p>{% if visit.is_confirmed is False %}
        {% if visit.is_available is True %}
        <a href="#" class="button red" onclick="confirmation('visit_reject', '{{ visit.name }}', '{% url 'schedule_visit_reject' visit.id %}')">Odrzuć</a>
        {%endif%}
        <a class="button" href="{% url 'schedule_visit_confirm' visit.id %}">Potwierdź</a>
        {%else%}
        {% if visit.is_available is True %}
        <a href="#" class="button red" onclick="confirmation('visit_cancel', '{{ visit.name }}', '{% url 'schedule_visit_cancel' visit.id %}')">Odwołaj</a>
        {%endif%}
        {%endif%}
    </p>
</div>
{% endblock %}