{% extends "base.html" %}

{% block title %}Ustawienia{% endblock %}

{% block content %}

<div id="content">
    <h3>Czas pracy</h3>
    {% for message in messages %}
        <p class="success">{{ message|safe }}</p>
    {% endfor %}

    {% for error in work_time_form.non_field_errors %}
        <p class="has-error">{{error}}</p>
    {% endfor %}
    {% for field in work_time_form %}
        {% for error in field.errors %}
            <p class="has-error">{{error}}</p>
        {% endfor %}
    {% endfor %}


        <form  name="add-work-time-form" method="POST" action="{% url 'settings_work_time' %}">

            <div class="fieldWrapper">
                <label for="{{ work_time_form.day_of_week.id_for_label }}">{{work_time_form.day_of_week.label}}</label>
                {{ work_time_form.day_of_week }}
            </div>
            <div class="fieldWrapper">
                <label for="{{ work_time_form.start.id_for_label }}">{{work_time_form.start.label}}</label>
                {{ work_time_form.start }}
            </div>
            <div class="fieldWrapper">
                <label for="{{ work_time_form.end.id_for_label }}">{{work_time_form.end.label}}</label>
                {{ work_time_form.end }}
            </div>
            {% csrf_token %}
            <p><button class='button full-width' type="submit" name="submit" value="work_time">Dodaj czas pracy</button></p>
        </form>

        <form  name="holidays-form" method="POST" action="{% url 'settings_work_time' %}">

                    <label class="checkbox" for="{{ work_holidays_form.holidays.id_for_label }}">{{work_holidays_form.holidays.label}}
                    {{ work_holidays_form.holidays }}
                  <span class="checkmark"></span></label>


            {% csrf_token %}
            <button class='button' type="submit" name="submit" value="holidays">Zapisz</button>
        </form>





        {% if work_times %}
        <table>
            <tr>
                <th>Dzień</th>
                <th>Od</th>
                <th>Do</th>
                <th></th>
            </tr>
            {% for work_time in work_times %}
                <tr>
                    <td>{{ work_time.day_of_week }}</td>
                    <td>{{ work_time.start }}</td>
                    <td>{{ work_time.end }}</td>
                    <td class="icon"><a href="#" onclick="confirmation('work_time', '{{ work_time.day_of_week }} {{ work_time.start }} - {{ work_time.end }} ', '{{ work_time.get_remove_url }}')"><i class="far fa-trash-alt"></i></a>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}