
body {
    background-color:#ffffff;
font-family: Helvetica;
}
#container {
  margin: auto;
  width: 400px;
  padding: 10px;
   background-color:#333333;
   color:white;
   text-align:center;
}
label {
padding-right:20px;
}

.errorlist {
  list-style-type: none;
  padding:0px;
}