body{
  font-family: Helvetica;
  background-color:#c2cbdc;
  padding:0px;
  margin: 0px;
}
/** Login  **/

#login-container {
   margin: 5px auto;
   max-width: 400px;
   padding: 10px;
   background-color:#fff;
   color:black;
   text-align:center;
   box-shadow: 0px 0px 40px #a6acc1;
}

/** Login  **/
.schedule-container {
background-color: #f3f7fa
}

#container {
  box-shadow: 0px 0px 40px #a6acc1;
  margin: 0px auto;
  max-width:800px;
  background-color:#ffffff;
  min-height: 100%;
}

#content {
padding:5px 20px;
}

/** Menu  **/

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f7fa;
  box-shadow: 0px 0px 15px #a6acc1;
  border-bottom:solid 1px #aaa;
}

ul.menu li {
  float: right;
}

ul.menu li.selected{
  background-color: #fff;
  box-shadow: 0px 0px 15px #a6acc1;
  z-index: 1;
}

ul.menu li a {
  color: #5e6d89;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul.menu li a:hover {
  background-color: #fff;
  box-shadow: 0px 0px 15px #a6acc1;
  z-index: 400;
}




form li {
  list-style-type: none;
}
form li label{
  padding-right:40px;
}


.errorlist {
  list-style-type: none;
  padding:0px;
}



.button {
    font-size:14px;
  background-color: #312788;
  padding:0.4em 1.4em;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color:#FFFFFF;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
  border:none;
}
.button:active{
 box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    color: #777;
    line-height: 1.6;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .01em;
}
table a {
    color: #777;
  text-decoration: none;
}
tr{
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    }

td{

    color: #777;
    line-height: 1.6;
    vertical-align: middle;
    border-left: 1px solid #cbcbcb;
    margin: 0;
    overflow: visible;
    padding: .5em .5em;
    background-color:white;
    border-right-width: 0;
    border-top-width: 0;
    box-shadow: 0px -1px 0px 0px #f5f5f5;
    font-size: inherit;
}

td.icon{
    font-size: 20px;
}


table .header td{
    background-color:#e0e0e0;
    color:black;
    font-weight:bold;}

