ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

div.schedule{
padding:0;
margin:0;
background-color:#ddd;
}


div.header {
  padding: 0px;
  background: #555555;
  text-align: center;
}

.header ul {
  margin: 0;
  padding: 0;
}

.header ul li {
  padding: 20px 0px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header .prev {
  padding: 19px 25px 17px 25px;
  float: left;
}

.header .next {
  padding: 19px 25px 17px 25px;
  float: right;
}

.header a li:hover {
background:#333333;
}

.dates-header{
  padding: 0;
  margin: 0;
  background-color:#ddd;
}

.dates-header ul {
  padding: 0;
  margin: 0;
  background-color:#ddd;
}
.dates-header ul.days {
  padding: 0;
  margin: 0;
  background-color:#ddd;
}
.dates-header ul li {
  background-color:#ddd;
  display: inline-block;
  width: 12.5%;
  color: #666;
  text-align: center;
  padding: 5px 0;
}
.dates-header ul li.empty {
  background-color:#ddd;
}
.dates-header ul.days li{

  box-shadow: 0px 1px 0px 0px #d0d0d0;

}

.dates-header .border-date {
  box-shadow: -1px 0px 0px 0px #ffffff;
}
.dates-header .red {
  background-color: #7f0000;
  color:#fff;
}
.dates-header div {
  margin: 0px 5px;
}
.dates-header .today div {
  background-color: #333;
  color:#fff;
}

ul.schedule-content {
  margin: 0;
  padding: 0;
  color: #555;
  position:relative;
  top:-13px;
}


ul.schedule-content li {
  list-style-type: none;
  display: inline-block;
  width: 12.5%;
  position:relative;
  text-align: center;
  font-size:14px;
  margin:0;
  padding:0;
}

ul.schedule-content li ul{
  margin: 0;
  padding: 0;
  position:relative;
  background: #ddd;
}

ul.schedule-content li ul.hours {
  top:14px;
}

ul.schedule-content li ul li {
  width:100%;
  text-align: center;
  height:30px;
  font-size:12px;
  border-bottom: 1px solid #d0d0d0;
  margin: 0;
  padding: 0;
  position:relative;
}

ul.schedule-content li ul li.hour-off {
  background: #e0e0e0;
  border-bottom: 1px solid #d4d4d4;
}
ul.schedule-content li ul li.avaliable {
  background-color:#82B861;
  border-bottom: 1px solid #b0b0b0;
}
ul.schedule-content li ul li.not-avaliable {
  background-color:#c0c0c0;
  border-bottom: 1px solid #b0b0b0;
}

ul.schedule-content li ul.hours li span {
  position:relative;
  background-color:#ddd;
  top:-7px;
  padding:0px 5px;
  color: #777;
}
ul.schedule-content li ul.hours li span.last{
position:relative;
top:20px;
}

ul.schedule-content li ul a li.avaliable{
  background-color:#82ff61;
  color: #ffffff;
}

ul.schedule-content li ul a li.hover {
  background-color: #82EB61;
}

ul.schedule-content li ul li.hover {
  background-color: #82EB61;
}



