{% extends "dashboard_base.html" %}

{% block title %}Panel | Ustawienia{% endblock %}

{% block content %}
<div>
    <h1>Ustawienia</h1>
    <h2>Usługi</h2>
    <div>
        {% if created_service %}<p>Usługa {{ created_service }} dodana.</p>{% endif %}
        {% if service_form.errors %}
            <div class="form-group has-error">
                <span class="help-block">{{ service_form.text.errors }}</span>
            </div>
        {% endif %}
        <div>
            <form class="in_line_form" name="add-service-form" method="POST" action="{% url 'dashboard_settings' %}">
                {{ service_form.as_table }}
                {% csrf_token %}
                <button type="submit" name="submit" value="add_service">Dodaj</button>
            </form>
        </div>
        {% if services %}
        <table>
            <tr>
                <td>Nazwa</td>
                <td>Czas trwania</td>
                <td>Status</td>
                <td></td>
            </tr>
            {% for service in services %}
                <tr>
                    <td>{{ service.name }}</td>
                    <td>{{ service.display_duration }}</td>
                    <td>{{ service.is_active }}</td>
                    <td><a href="{{ service.get_remove_url }}">Usuń</a> | Edytuj | Zablokuj
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <h3>"Nie masz jeszcze żadnych usług"</h3>
        {% endif %}
    </div>
</div>
<div>
    <h2>Czas pracy</h2>
    <p>Ustaw standardowy czas pracy (Klienci będą mogli wybierać tylko te dni/godziny. Ty będziesz mógł wybrać dowolne</p>
    <div>
        <form name="work-time-form" method="POST" action="{% url 'dashboard_settings' %}">
                {{ work_time_form.as_ul }}
                {% csrf_token %}
                <button type="submit" name="submit" value="set_work_time">Zapisz</button>
        </form>
    </div>
</div>
<div>
    <h2>Zmiana hasła</h2>
    <p>Stare hasło</p>
    <p>Nowe hasło</p>
    <p>Powtórz</p>
</div>
<div>
    <h2>Sugestie</h2>
    <p>Coś nie działa? Fajnie byłoby gdyby coś sie zmieniło? Poinformuj mnie o tym. Zobaczę co da się zrobić.</p>
    <p>textarea</p>
</div>
{% endblock %}